[package]
name = "vcon-pack"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
vcon-engine = { path = "../vcon-engine" }
